<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cmd.exchange.common.mapper.AppVersionMapper">

    <select id="getAppVersion" resultType="com.cmd.exchange.common.model.AppVersion">
        SELECT * FROM t_app_version WHERE platform=#{platform} ORDER BY code DESC limit 0, 1
    </select>


</mapper>


