<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cmd.exchange.common.mapper.TransferAgentsMapper">

    <sql id="selectTransferAgents">
        <where>
            1=1

            <if test="istransfer !=null">
                and m.istransfer = #{istransfer}
            </if>

            <if test="userId !=null">
                and m.user_id = #{userId}
            </if>
            <if test="id !=null">
                and m.id = #{id}
            </if>
        </where>
    </sql>

    <select id="getOneInfo" parameterType="com.cmd.exchange.common.model.TransferAgents"
            resultType="com.cmd.exchange.common.model.TransferAgents">
        SELECT * FROM agents as m

        <include refid="selectTransferAgents"/>

        limit 0, 1
    </select>

    <select id="getInfo" parameterType="com.cmd.exchange.common.model.TransferAgents"
            resultType="com.cmd.exchange.common.model.TransferAgents">
        SELECT * FROM agents as m
        <include refid="selectTransferAgents"/>
    </select>



    <update id="mod" parameterType="com.cmd.exchange.common.model.TransferAgents">
        UPDATE agents as m
        <set>

            <if test="istransfer !=null ">istransfer = #{istransfer}</if>

        </set>

        <where>m.id = #{id}</where>
    </update>

</mapper>


